body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

/*vertical line*/
.vertical-line {
  width: 1px;
  background-color: #202228;
  height: 28px;
}

/*header*/
.header {
  height: 30px;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #ebeff4;
}

.left-header {
  display: flex;
  flex-direction: row;
  padding-top: 4px;
  font-size: 10pt;
  font-weight: bold;
  padding-left: 3.5%;
}

.email-header {
  padding-left: 5%;
  padding-right: 2%;
}

.right-header {
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  padding-left: 15%;
}

.facebook-header {
  padding-left: 5%;
  padding-right: 5%;
}

/*nav*/

.navbar-brand {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 5%;
}

.nav-link {
  font-weight: bold;
  color: gray;
  font-size: 14pt;
}

.navbar-text {
  font-style: italic;
  margin-right: 5%;
}

/*signin button*/
.sign-in-btn {
  border: 1px solid #f19c16;
  color: #f19c16;
  background-color: white;
  transition: .7s;
  border-radius: 5px;
  width: 15%;
}

.sign-in-btn:hover {
  background-color: #f19c16;
  color: white;
}

/*footer*/
footer i {
  color: white
}
#body {
  min-height: 650px;
}

#form-body {
  width: 60%;
  text-align: center;
  font-weight: bold;
}

#list-body {
  text-align: center;
}

.err-msg {
  color: red;
}