table {
    font-family: Tahoma, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #282c34;
    border-radius: 15px;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}